<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Rango</title>
	</head>
	<body>
		<h1>Rango says...hello world!</h1>

		{% if categories %}
			<ul>
				{% for category in categories %}
				<li><a href="category/{{ category.url }}">{{ category.name }}</a>
					<ul>
						{% for page in pages %}
							{% if page.category == category %}
								<li>{{ page.title }} <strong>(views: {{ page.views }})</strong></li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}

		<ol>
			{% for cat in top5_cats %}
				<li>{{ cat.name }} - views: {{ cat.views }}</li>
			{% endfor %}
		</ol>

		<a href="/rango/about">About</a><br />
		<img src="{% static "rango.jpg" %}" style="max-width:450px" alt="Picture of Rango" />
	</body>
</html>